<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
      <div class="col-sm-6 col-sm-offset-3">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">New user</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form" #form="ngForm" [formGroup]="frm" (submit)="save()">
            <div class="box-body">
              <input type="hidden" formControlName="foto" />
              <div class="form-group">
                <div class="box-footer">
                  <ul class="mailbox-attachments clearfix">
                    <li>
                      <img [src]="foto" class="img-thumbnail" />
                      <div class="mailbox-attachment-info">
                        <div class="form-group">
                          <div class="btn btn-warning btn-file btn-block">
                            <i class="fa fa-picture-o"></i> New photo
                            <input type="file" (change)="handleFile($event.target.files[0])" accept="image/*"
                              #attachment>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div [ngClass]="((frm.get('name').errors?.required 
                                  || frm.get('name').errors?.maxlength 
                                  || frm.get('name').errors?.minlength)
                                  && (form.submitted || frm.get('name').touched)) 
                                  ? 'form-group  has-error' : 'form-group'">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Nome">
                <span *ngIf="frm.get('name').errors?.required  && (form.submitted || frm.get('name').touched)"
                  class="help-block">Campo obrigatório.</span>
                <span *ngIf="frm.get('name').errors?.minlength  && (form.submitted || frm.get('name').touched)"
                  class="help-block">Campo com mínimo de 2 caracteres.</span>
                <span *ngIf="frm.get('name').errors?.maxlength  && (form.submitted || frm.get('name').touched)"
                  class="help-block">Campo com máximo de 250 caracteres.</span>
              </div>
              <div [ngClass]="((frm.get('email').errors?.required 
                                  || frm.get('email').errors?.maxlength 
                                  || frm.get('email').errors?.email)
                                  && (form.submitted || frm.get('email').touched)) 
                                  ? 'form-group  has-error' : 'form-group'">
                <label for="exampleInputEmail1">E-mail</label>
                <input type="email" formControlName="email" class="form-control" placeholder="E-mail">
                <span *ngIf="frm.get('email').errors?.email  && (form.submitted || frm.get('email').touched)"
                  class="help-block">E-mail inválido.</span>
                <span *ngIf="frm.get('email').errors?.maxlength  && (form.submitted || frm.get('email').touched)"
                  class="help-block">Campo com máximo de 150 caracteres.</span>
                <span *ngIf="frm.get('email').errors?.required  && (form.submitted || frm.get('email').touched)"
                  class="help-block">Campo obrigatório.</span>
              </div>
              <div [ngClass]="((frm.get('password').errors?.required 
                                  || frm.get('password').errors?.maxlength 
                                  || frm.get('password').errors?.minlength)
                                  && (form.submitted || frm.get('password').touched)) 
                                  ? 'form-group  has-error' : 'form-group'">
                <label for="exampleInputEmail1">Senha</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Senha">
                <span *ngIf="frm.get('password').errors?.minlength  && (form.submitted || frm.get('password').touched)"
                  class="help-block">Campo com mínimo de 6 caracteres.</span>
                <span *ngIf="frm.get('password').errors?.maxlength  && (form.submitted || frm.get('password').touched)"
                  class="help-block">Campo com máximo de 10 caracteres.</span>
                <span *ngIf="frm.get('password').errors?.required  && (form.submitted || frm.get('password').touched)"
                  class="help-block">Campo obrigatório.</span>
              </div>
              <div [ngClass]="((frm.get('perfil').errors?.required)
                                  && (form.submitted || frm.get('perfil').touched)) 
                                  ? 'form-group  has-error' : 'form-group'">
                <label for="exampleInputEmail1">Perfil</label>
                <select class="form-control" formControlName="perfil">
                  <option *ngFor="let item of perfil" [value]="item.id">{{ item.nome }}</option>
                </select>
                <span *ngIf="frm.get('perfil').errors?.required  && (form.submitted || frm.get('perfil').touched)"
                  class="help-block">Campo obrigatório.</span>
              </div>
              <div [ngClass]="((frm.get('ativo').errors?.required)
                                  && (form.submitted || frm.get('ativo').touched)) 
                                  ? 'form-group  has-error' : 'form-group'">
                <label for="exampleInputEmail1">Ativo</label>
                <select class="form-control" formControlName="ativo">
                  <option *ngFor="let item of ativo" [value]="item.id">{{ item.nome }}</option>
                </select>
                <span *ngIf="frm.get('ativo').errors?.required  && (form.submitted || frm.get('ativo').touched)"
                  class="help-block">Campo obrigatório.</span>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" [disabled]="!frm.valid" class="btn btn-primary">Gravar</button>
              &nbsp;&nbsp;
              <button routerLink="/usuario" class="btn btn-danger">Cancelar</button>
            </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </div>